@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
@layer variables {
  :root {
    /* COLORS */
    --primary-100: #d4eaf7;
    --primary-200: #313d44;
    --magic-mint-50: #fffefb;
    --magic-mint-100: #d4f7e4;
    --magic-mint-200: #9feac6;
    --magic-mint-300: #77deb3;
    --magic-mint-400: #40c793;
    --magic-mint-500: #1dac7a;
    --magic-mint-600: #108b63;
    --magic-mint-700: #0d6f51;
    --magic-mint-800: #0d5842;
    --magic-mint-900: #0c4837;
    --magic-mint-950: #05291f;
    /* FONTS */
    --font-family: "Inter", sans-serif;
    --font-size: 16px;
  }
}
@layer layout {
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    font-family: var(--font-family);
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: var(--magic-mint-300);
    padding: 50px;
    gap: 200px;
    .logo {
      display: flex;
      position: relative;
      h1 {
        position: relative;
        top: 10px;
        font-size: 20px;
      }
      img {
        width: 30px;
      }
    }
  }
  .left-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    h1 {
      width: 450px;
    }
  }
  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    background-color: var(--background, #f5f4f1);
  }
  .form-container {
    background-color: var(--magic-mint-50);
    padding: 26px 18px;
    border-radius: 10px;
    border-radius: var(--rounded-lg, 8px);
    border: 1px solid var(--bg-300, #cccbc8);
    background: var(--bg-100, #fffefb);

    /* shadow-sm */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #3b3c3d;
  }
  .form-header {
    display: flex;
    flex-direction: column;
    color: #3b3c3d;
    padding: 15px 0px;
  }
  input,
  textarea,
  select {
    padding: 8px;
    border-radius: 4px;
    color: #3b3c3d;
    border: 1px solid #9e9e9e;
    width: 100%;
    font-size: 12px;
  }
  button {
    background-color: var(--magic-mint-500);
    color: var(--magic-mint-50);
    padding: 6px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: var(--font-size);
    width: 100%;
  }
  .name-fields {
    display: flex;
    gap: 20px;
  }
  .login-link {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #3b3c3d;
    a {
      color: var(--magic-mint-500);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
@layer components {
  .sizing-component {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .error-message {
    color: red;
    font-size: 12px;
  }
  .success-message {
    color: green;
    font-size: 12px;
  }
}
